@import "tailwindcss";

@theme {
    --color-x: #a23b72;
    --color-o: #2e86ab;
}

@keyframes scale-in {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scale-in {
    animation: scale-in 0.2s ease-out forwards;
}
